
{
	"presets": [
		"@babel/preset-env",
		"@babel/typescript",
		"@babel/preset-react"
	],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "~/utils": "./src/utils",
          "~/types": "./src/types",
					"~/components": "./src/components",
					"~/assets": "./src/assets",
					"~/imagine": "./src/components/imagine",
					"~/itypes": "./src/components/imagine/types",
					"~/iutils": "./src/components/imagine/utils"
        }
      }
    ]
  ]
}
