$primary: #ddd;

.ui.button {
  display: inline-block;
  cursor: pointer;
  padding: 0.714285em 1.142857em;
  user-select: none;
  vertical-align: middle;
  background: $primary;
  font-weight: $w600;
  border: none;
  font-size: $regular;
  border-radius: $border-radius;
  color: rgba(0, 0, 0, 0.6);
  will-change: background;
  transition: 0.1s background;

  &.blue {
    color: white;
    background: $blue;
  }

  &.red {
    color: white;
    background: $red;
  }

  &.green {
    color: white;
    background: $green;
  }

  &.pink {
    color: white;
    background: $pink;
  }
}

.ui.button:hover,
.ui.button:focus {
  outline: none;
  background: darken($primary, 5%);
}

.ui.button:active {
  background: darken($primary, 10%);
  color: rgba(0, 0, 0, 0.8);
}

.ui.blue.button:hover,
.ui.blue.button:focus {
  background: darken($blue, 5%);
  color: white;
}

.ui.blue.button:active {
  background: darken($blue, 10%);
}
.ui.red.button:hover,
.ui.red.button:focus {
  background: darken($red, 5%);
  color: white;
}

.ui.red.button:active {
  background: darken($red, 10%);
}
.ui.green.button:hover,
.ui.green.button:focus {
  background: darken($green, 5%);
  color: white;
}

.ui.green.button:active {
  background: darken($green, 10%);
}
.ui.pink.button:hover,
.ui.pink.button:focus {
  background: darken($pink, 5%);
  color: white;
}

.ui.pink.button:active {
  background: darken($pink, 10%);
}

// VARIATION //
.ui.circular.button {
  border-radius: 500rem;
}
// VARIATION //

// SIZES //

.ui.button.tiny {
  font-size: $tiny;
}

.ui.button.small {
  font-size: $small;
}

.ui.button.big {
  font-size: $big;
}

.ui.button.massive {
  font-size: $massive;
}
// SIZES //

// BUTTONS //
.ui.buttons .button {
  border-radius: 0;
}

.ui.buttons .button:first-of-type {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.ui.buttons .button:last-of-type {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
// BUTTONS //
