.ui.header {
  font-size: 1.428571em;
  font-weight: $w700;
  line-height: 1.4;
  margin: 0.5rem 0;
}

.ui.tiny.header {
  font-size: 1em;
}

.ui.small.header {
  font-size: 1.142857em;
}

.ui.big.header {
  font-size: 1.714285em;
}

.ui.massive.header {
  font-size: 2em;
}
