@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}

::selection {
  background: #eee;
}

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.fluid {
  width: 100%;
}
