// COLORS //
// $blue: #34a9ec;
$blue: #5996f2;
$red: rgb(240, 66, 66);
$green: rgb(77, 192, 77);
$pink: rgb(243, 91, 167);
$text: #202020;
$grey: rgb(225, 225, 225);
$dark-grey: rgb(200, 200, 200);
// SIZES //
$tiny: 0.714285em;
$small: 0.857142em;
$regular: 1em;
$big: 1.142857em;
$massive: 1.285714em;
// SIZES //

// BREAKPOINTS //
$min-small: 320px;
$max-small: 479px;
$min-mobile: 480px;
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 991px;
$min-computer: 992px;
$max-computer: 1199px;
$min-large: 1200px;
$max-large: 1919px;
$min-widescreen: 1920px;
// BREAKPOINTS //

// FONT WEIGHTS //
$w700: 700;
$w600: 600;
$w500: 500;
$w400: 400;
// FONT WEIGHTS //

//  //
//  //

// BORDER RADIUS //
$border-radius: 3px;
// BORDER RADIUS //

// VIEW //
$raised: 0 0 4px 0 rgb(185, 185, 185);
// VIEW //
